body{
    min-height: 100vh;
    display: grid;
    grid-template-areas:
    "my-nav"
    "my-main"
    "my-footer";
    grid-template-rows: 100px 1fr 100px;
}

nav{
    display: flex;
    margin-left: 0px;
    margin-top: 50px;
    grid-area: my-nav;
    position: fixed;
    width: 100%;
    z-index: 1000;
    width: 100%;
    background-color: white;
    position: fixed; top: 0; width: 100%;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
ul a{
    text-decoration: none;
    padding-left: 50px;
}

nav ul li {
    padding: 1em;
}

nav ul li a.active {
    background-color: #fcfcfc;
    border-radius: 4px;
}
#texto{
    margin-left: 50px;
    margin-top: 25px;
}
button{
    margin-top: 0.5cm;
    margin-left: 1.25cm;
    margin-bottom: 10cm;
    background-color: blue;
    color: white;
    border-radius: 10%;
    font-family: 'monospace';
    width: 2.5cm;
    height: 1cm;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);;
    box-shadow: 1cm;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
}
main{
    grid-area: my-main;
    background-color: purple;

}
footer{
    grid-area: my-footer;
    text-align: center;
    margin-top: 20px;
}
#noticias{
    width: 95.5%;
    float: left;
    height: 500px;
    border: 5px solid black;
    color: white;
    padding: 1cm;
}
.Kondor{
    margin-left: 1300px;
    margin-bottom: 260px;
    width: 175px;
    height: 150px;
}
.amarillo{
    position: relative;
    margin-left: 58%;
    margin-top: 2.5%;
    margin-bottom: 35px;
}
a{
    color: black;
}
.insta{
    width: 50px;
    height: 50px;
}
.twitter{
    width: 50px;
    height: 50px;
}



