body {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
    "my-nav"
    "my-main"
    "my-footer";
    grid-template-rows: 100px 1fr 100px;
    margin: 0;
}

nav{
    display: flex;
    margin-left: 0px;
    margin-top: 50px;
    grid-area: my-nav;
    position: fixed;
    width: 100%;
    height: 85px;
    z-index: 1000;
    width: 100%;
    background-color: white;
    position: fixed; top: 0; width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

ul a {
    text-decoration: none;
    padding-left: 50px;
}

nav ul li {
    padding: 1em;
}

nav ul li a.active {
    background-color: #fcfcfc;
    border-radius: 4px;
}

button {
    margin-top: 0.5cm;
    margin-left: 1.25cm;
    background-color: blue;
    color: white;
    border-radius: 10%;
    font-family: 'monospace';
    width: 2.5cm;
    height: 1cm;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

main {
    grid-area: my-main;
    background-color: purple;
}

footer {
    grid-area: my-footer;
    text-align: center;
    margin-top: 20px;
}

#noticias {
    width: 95.4%;
    float: left;
    height: 190px;
    border: 5px solid black;
    color: white;
    padding: 1cm;
}

.Kondor {
    margin-left: 1300px;
    margin-bottom: 260px;
    width: 175px;
    height: 150px;
}

.amarillo {
    position: relative;
    margin-left: 58%;
    margin-top: 2.5%;
    margin-bottom: 35px;
}

a {
    color: black;
}

.insta{
    width: 50px;
    height: 50px;
    cursor: pointer;
} 

.twitter {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.portada {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.navimg {
    width: 150px;
    height: 40px;
}

article {
    margin-bottom: 500px;
}

.hero {
    position: relative;
}

.hero-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
    font-size: xx-large;
}

.encabezado {
    margin: 0;
}

.sub{
    color: white;
    margin-top: 120px;
    height: 0px;
}

.sus{
    height: 1000px;
    margin-top: -600px;
    padding: 100px;
    margin-left: 5%;
    display: flex;
    position: relative;
    margin-bottom: 0px;
}


.navimg{
    width: 150px;
    height: 40px;
    margin-top: 0px;


}

.articulo{
    height:500px;
}

.containers{
    margin-left: 200px;
    width: 500px;
    height: 300px;
    margin-top: 50px;
}
.containers1{
    display: flex;
    position: absolute;
    width: 500px;
    height: 300px;
    margin-left: 100px;

}

.ventajas{
    border: 1px solid black;
}
.medioambiente{
    background-color: white;
    width: 150px;
    height: 150px;
    margin-left: 50px;
    font-size: larger;
    border: 1px solid black;
    text-align: center;
}
.medio{
    margin-left: 2px;
    text-align: center;
    align-items: center;
}
.frigo{
    background-color: white;
    width: 150px;
    height: 150px;
    margin-left: 50px;
    font-size: larger;
    border: 1px solid black;
    text-align: center;
}
.rapido{
    background-color: white;
    width: 150px;
    height: 150px;
    margin-left: 50px;
    font-size: larger;
    border: 1px solid black;
    text-align: center;

}
.cont {
    display: flex;
    justify-content: center;
    background-color: rgb(179, 179, 105);
    height: 200px;
    width: 100%;
    align-items: center;
    margin: auto;
    margin-bottom: 100px;
    margin-top: -500px; /* Ajusta este valor según sea necesario */
}
.info{
    position: relative;
    top: 0px;
    
}
h4{
    visibility: hidden;
    margin-left: 10px;
}



